@inherits LayoutComponentBase


<div class="d-flex">

   <Sidebar></Sidebar>

    <div class="flex-fill">
        <Header></Header>
        <main class="container-fluid main">
            @Body
        </main>
    </div>
</div>


