<div id="sidebar" class="sidebar d-flex flex-column">
    <div class="mb-4">
        <div class="brand">📚 MyLibrary</div>
        <div class="text-white-50 small mt-1">Library Management</div>
    </div>
    <nav class="nav flex-column">
        <NavLink class="nav-link  mb-1" Match="NavLinkMatch.All" href="/">Dashboard</NavLink>
        <NavLink class="nav-link mb-1" href="/books" Match="NavLinkMatch.Prefix">Books</NavLink>
        <NavLink class="nav-link mb-1" href="/borrow-book" Match="NavLinkMatch.Prefix">Borrowed</NavLink>
        <NavLink class="nav-link mb-1" href="/book/add-book" Match="NavLinkMatch.Prefix">Add Book</NavLink>
       
    </nav>
    <div class="mt-auto small text-white-50">v1.0 • © MyLibrary</div>
</div>